section.about-section
  .wrapper
    .about-section__inner
      h2.about-section__title.font-s-44 «Киберклубы — это 
        br
        |прибыльная ниша с 
        br
        |устойчивым спросом»

      .about-section__content
        .about-section__content-icon
          img(src="images/decor-1.svg" loading="lazy" alt="icon" width="147" height="115").d-block
        .about-section__story.border-r-20
          div «RUSH BEE — это современный компьютерный клуб, который мы открыли в 2022 году в Нижнем Новгороде. 
            |Клуб заслужил популярность, благодаря своей дружелюбной атмосфере, высокой производительности компьютеров и скорости интернета. 
          div Мы внимательно следим за комфортом пользователей, предлагаем большой ассортимент сопровождающей продукции, 
            |создали собственную программу лояльности. Оценка клуба в Яндекс — 5 баллов, а в 2ГИС — 4,9. 
            |В социальных сетях клуба более 2000 человек, и все это — реальные живые люди, которые пользуются нашими услугами.
          div Поскольку тема киберспорта продолжает активно развиваться, в этой сфере наблюдается повышенный спрос практически 
            |во всех городах и регионах России. 
            br
            |С помощью нашей команды вы сможете быстро открыть свой собственный клуб и вывести его на высокие показатели. 
            |Этим бизнесом легко управлять, также есть широкие возможности для масштабирования 
            br
            |до крупной сети».

        .about-section__photo-container
          .about-section__photo
            img(src="images/leader-photo.jpg" loading="lazy" alt="photo" width="560" height="450").d-block.border-r-20
          .about-section__photo-info
            .about-section__photo-name Андрей Вдовин 
              br
              |Основатель компании
            .about-section__photo-icon
              img(src="images/decor-1.svg" loading="lazy" alt="icon" width="147" height="115").d-block

      .about-section__feedback
        .feedback.border-r-20
          form(data-feedback-form).feedback__form
            h3.feedback__title.color-white.text-center.font-s-32 Буду рад ответить на ваши 
              br
              |вопросы по франшизе!
            .feedback__wrapper
              .feedback__list
                .feedback__item
                  .input
                    textarea(name="answer" placeholder="Текст вопроса").input__field.input__field--textarea
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__list
                .feedback__item
                  button.btn(type="submit")
                    span Задать вопрос 
                      br
                      |основателю
