section.calc-section
  .calc-section__content
    .wrapper
      .calc-section__inner
        .calc-section__container.color-white
          h2.calc-section__title.font-s-40 Сколько вы будете 
            br
            |зарабатывать?
          .calc-section__info.text-center Тяните бегунок и узнайте, 
            br
            |какой будет ваша прибыль

        .calc-section__frame.text-center
          .calc-section__frame-btns
            button(data-type='pc20').tap-color.font-m-bold.font-s-24.text-up.calc-btn.js-range-btn.calc-btn--active 20 ПК
            button(data-type='pc50').tap-color.font-m-bold.font-s-24.text-up.calc-btn.js-range-btn 50 ПК

          .calc-section__frame-range
            .range
          .calc-section__frame-range-total
            div.font-m-s-bold.font-s-24 Результат: 
          .calc-section__frame-range-price.color-red-1.font-m-s-bold
              span.js-range-total.font-s-50
              span.font-s-24  тенге
