section.calc-section
  .calc-section__content
    .wrapper
      .calc-section__inner.text-center
        .calc-section__image
          img(src="images/calc-bg-image.svg" loading="lazy" alt="image" width="517" height="511").d-block

        .calc-section__frame
          h2.calc-section__title.font-s-44 Рассчитайте прибыль 
            br
            |вашего первого клуба
          .calc-section__info
            div Двигайте бегунок и узнайте, 
              br
              |какой будет ваша прибыль в первый год работы
          .calc-section__frame-range
            .range
          .calc-section__frame-range-total
            div.font-m-s-bold.font-s-24 Результат: 
            span (прибыль*кол-во месяцев)
          .calc-section__frame-range-price.color-gold-1
              span.js-range-total.font-m-s-bold
              div.font-s-24  рублей
