section.calc-section
  .calc-section__content
    .wrapper
      .calc-section__inner.text-center
        .calc-section__image
          img(src="images/calc-bg-image.svg" loading="lazy" alt="image" width="517" height="511").d-block

        .calc-section__frame
          h2.calc-section__title.font-s-44 Рассчитайте прибыль 
            br
            |вашего первого клуба
          .calc-section__info
            div Двигайте бегунок и узнайте, 
              br
              |какой будет ваша прибыль в первый год работы
          .calc-section__frame-range
            .range
          .calc-section__frame-range-total
            div.font-m-s-bold.font-s-24 Результат: 
            span (прибыль*кол-во месяцев)
          .calc-section__frame-range-price.color-gold-1
              span.js-range-total.font-m-s-bold
              div.font-s-24  рублей

  .calc-section__feedback
    .wrapper
      .calc-section__feedback-inner
        .calc-section__feedback-decor
          img(src="images/calc-decor.png" loading="lazy" alt="image" width="384" height="393").d-block
        .feedback
          form(data-feedback-form).feedback__form
            h3.feedback__title.text-center.font-s-32 Получите индивидуальный детальный 
              br
              |расчет: оставьте заявку, и мы свяжемся 
              br
              |с вами в течение 15 минут
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                .input
                  input(type="email" name="email" autocomplete="off" placeholder="E-mail").input__field
              .feedback__item
                button.btn(type="submit")
                  span Оставить заявку