section.city-section
  .wrapper
    .city-section__inner.text-center
      h2.city-section__title
        span.city-section__title-main.font-s-44.d-block Запустите бизнес 
          br
          |по франшизе 
          span.font-i-reg.color-red-1.text-ital «THE ONE HUB» 
        span.city-section__title-secondary.d-block.font-i-s-bold.font-s-22 зарабатывайте от 20 млн тенге в год
      .city-section__feedback
        .feedback.border-r-20
          form(data-feedback-form).feedback__form
            .feedback__description.font-s-18 Проверьте, свободен ли ваш город 
              br
              |для работы по франшизе
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="text" name="city" autocomplete="off" placeholder="Город").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                button.btn(type="submit")
                  span Проверить