section.cooperation-section
  .wrapper
    .cooperation-section__inner
      h2.cooperation-section__title.font-s-40 Откройте клуб по 
        br
        span.font-i-reg.color-red-1.text-ital готовой бизнес-модели 
        br
        |и займите свое конкурентное 
        br
        |место на рынке!

      .cooperation-section__cards
        .cooperation-section__cards-list
          .cooperation-section__cards-item
            .cooperation-section__card
              .cooperation-section__card-head
                .cooperation-section__card-num.font-s-14.font-m-s-bold 01
                .cooperation-section__card-name.font-s-24 Обучение
              .cooperation-section__card-description Проведем для вас подробное дистанционное обучение 
                br
                |с полным погружением в специфику бизнеса и поможем с подготовкой 
                br
                |ваших специалистов
              .cooperation-section__card-image
                img(src="images/cooperation-card-img-1.png" loading="lazy" alt="image" width="263" height="244").d-block
          .cooperation-section__cards-item
            .cooperation-section__card
              .cooperation-section__card-head
                .cooperation-section__card-num.font-s-14.font-m-s-bold 02
                .cooperation-section__card-name.font-s-24 Поддержка
              .cooperation-section__card-description Будем сопровождать вас на 
                br
                |всех этапах становления бизнеса: 
                br
                |от поиска помещения для клуба до 
                br
                |помощи по юридическим вопросами 
                br
                |и работы бухгалтерии
              .cooperation-section__card-image
                img(src="images/cooperation-card-img-2.png" loading="lazy" alt="image" width="300" height="244").d-block
          .cooperation-section__cards-item
            .cooperation-section__card
              .cooperation-section__card-head
                .cooperation-section__card-num.font-s-14.font-m-s-bold 03
                .cooperation-section__card-name.font-s-24 Бизнес-модель
              .cooperation-section__card-description Предоставим вам все необходимые данныедля открытия, 
                br
                |используя которые, вы сможете 
                br
                |выйти на чистую прибыль 
                br
                |уже с первых месяцев работы
              .cooperation-section__card-image
                img(src="images/cooperation-card-img-3.png" loading="lazy" alt="image" width="263" height="244").d-block

      .cooperation-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__info
              h3.feedback__title.font-s-40 Хотите узнать детали 
                br
                span.font-i-reg.color-red-1.text-ital сотрудничества?
              .feedback__description Получите договор, в котором описаны 
                br
                |наши обязанности и условия 
                br
                |работы с франчайзи
            .feedback__container.border-r-20
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Получить план открытия

      .cooperation-section__bg-image
        img(src="images/cooperation-bg-image.png" loading="lazy" alt="image" width="943" height="630").d-block
