section.finances-section
  .wrapper
    .finances-section__inner.text-center
      h2.finances-section__title.font-s-40 Компьютерный клуб  — прибыльный бизнес, 
        br
        |который 
        span.font-i-reg.color-red-1.text-ital активно набирает популярность

      .finances-section__title-helper.color-black-2 Данные, которые подтверждают это:

      .finances-section__cards.swiper-finances
        .finances-section__cards-list.swiper-wrapper
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-1.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 1 000 тенге
              .finances-section__card-description средний чек одного 
                br
                |клиента
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-2.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 с 1 месяца
              .finances-section__card-description вы выйдете на 
                br
                |чистую прибыль
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-3.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 38,9%
              .finances-section__card-description рентабельность 
                br
                |по чистой прибыли
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-4.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 4,2 млн тенге
              .finances-section__card-description средняя ежемесячная 
                br
                |выручка
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-5.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 57 дней
              .finances-section__card-description потребуется 
                br
                |для старта бизнеса
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-6.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24 1,6 млн тенге
              .finances-section__card-description средняя ежемесячная 
                br
                |чистая прибыль
        .finances-section__cards-progress.swiper-progress.finances-pagination

      .finances-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__info
              .feedback__description Нужно больше цифр?
              h3.feedback__title.font-s-44 Получите 
                span.font-i-reg.color-red-1.text-ital подробную 
                br
                |финансовую модель 
                br
                |франшизы
            .feedback__inputs
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Получить
              .feedback__decor
                img(src="images/finances-image.png" loading="lazy" alt="image" width="416" height="388").d-block
