section.finances-section
  .wrapper
    .finances-section__inner.text-center
      h2.finances-section__title.font-s-44 Ключевые 
        br
        |цифры франшизы

      .finances-section__decor
        img(src="images/finances-decor.png" loading="lazy" alt="image" width="245" height="217").d-block

      .finances-section__cards.swiper-finances
        .finances-section__cards-list.swiper-wrapper
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-1.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up 870 000 рублей
              .finances-section__card-description чистая ежемесячная 
                br
                |прибыль
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-2.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up 1,5 месяца
              .finances-section__card-description понадобится 
                br
                |на запуск клуба
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-3.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up 1 730 000 рублей
              .finances-section__card-description средняя ежемесячная 
                br
                |выручка
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-4.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up 50,3%
              .finances-section__card-description рентабельность 
                br
                |по чистой прибыли
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-5.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up с 1-го месяца
              .finances-section__card-description будете получать 
                br
                |стабильный доход
          .finances-section__cards-item.swiper-slide
            .finances-section__card.border-r-20
              .finances-section__card-icon
                img(src="images/finances-icon-6.svg" loading="lazy" alt="icon" width="40" height="40").d-block
              .finances-section__card-title.font-i-bold.font-s-24.text-up 4 400 000 рублей
              .finances-section__card-description минимальный размер 
                br
                |вложений
        .finances-section__cards-progress.swiper-progress.finances-pagination

      .finances-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__description Хотите получить детальные расчеты 
              br
              |для вашего города и под ваш бюджет?
            h3.feedback__title.font-s-44 Скачайте финмодель 
              br
              |франшизы 
              span.color-gold-1 «RUSH BEE»
            .feedback__inputs
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Скачать
              .feedback__decor
                img(src="images/finances-image.png" loading="lazy" alt="image" width="423" height="627").d-block
