mixin footer()
  footer.footer
    .wrapper
      .footer__row

        .footer__col
          .footer__logo-container
            .footer__logo
              img(src="images/logo-main.svg" loading="lazy" alt="logo" width="127" height="70").d-block
            .footer__logo-description.font-s-14
              span.font-m-bold.font-s-18.d-block THE ONE 
              |Франшиза компьютерного клуба

        .footer__col
          .footer__connection
            +connection()
