section.format-section
  .wrapper
    .format-section__inner
      h2.format-section__title.font-s-44.text-center Какие вложения понадобятся 
        br
        |для запуска клуба

      .format-section__info
        .format-section__info-logo
          img(src="images/logo-mini.svg" loading="lazy" alt="logo" width="55" height="54").d-block
        .format-section__info-description.font-m-bold Выберите подходящий формат и скачайте подробную финансовую модель со всеми расчетами

      .format-section__cards.swiper-format
        .format-section__cards-list.swiper-wrapper
          .format-section__cards-item.swiper-slide
            .format-section__card.border-r-20
              .format-section__card-num.font-i-bold.font-s-16 1
              .format-section__card-head
                .format-section__card-box.format-section__card-box--1
                  div 20
                  span компьютеров
                .format-section__card-box.format-section__card-box--2
                  div 01
                  span PlayStation
              .format-section__card-feedback
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                      .feedback__item
                        button.btn(type="submit")
                          span Скачать
          .format-section__cards-item.swiper-slide
            .format-section__card.border-r-20
              .format-section__card-num.font-i-bold.font-s-16 2
              .format-section__card-head
                .format-section__card-box.format-section__card-box--1
                  div 30
                  span компьютеров
                .format-section__card-box.format-section__card-box--2
                  div 02
                  span PlayStation
              .format-section__card-feedback
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                      .feedback__item
                        button.btn(type="submit")
                          span Скачать
          .format-section__cards-item.swiper-slide
            .format-section__card.border-r-20
              .format-section__card-num.font-i-bold.font-s-16 3
              .format-section__card-head
                .format-section__card-box.format-section__card-box--1
                  div 40
                  span компьютеров
                .format-section__card-box.format-section__card-box--2
                  div 02
                  span PlayStation
              .format-section__card-feedback
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                      .feedback__item
                        button.btn(type="submit")
                          span Скачать
          .format-section__cards-item.swiper-slide
            .format-section__card.border-r-20
              .format-section__card-num.font-i-bold.font-s-16 4
              .format-section__card-head
                .format-section__card-box.format-section__card-box--1
                  div 50
                  span компьютеров
                .format-section__card-box.format-section__card-box--2
                  div 03
                  span PlayStation
              .format-section__card-feedback
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                      .feedback__item
                        button.btn(type="submit")
                          span Скачать
          .format-section__cards-item.swiper-slide
            .format-section__card.border-r-20
              .format-section__card-num.font-i-bold.font-s-16 5
              .format-section__card-head
                .format-section__card-box.format-section__card-box--1
                  div 100
                  span компьютеров
                .format-section__card-box.format-section__card-box--2
                  div 04
                  span PlayStation
              .format-section__card-feedback
                .feedback
                  form(data-feedback-form).feedback__form
                    .feedback__list
                      .feedback__item
                        .input
                          input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                      .feedback__item
                        .input
                          input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                      .feedback__item
                        button.btn(type="submit")
                          span Скачать

        .format-section__cards-progress.swiper-progress.format-pagination
