section.format-section
  .wrapper
    .format-section__inner.text-center
      h2.format-section__title.font-s-40 Какие 
        span.font-i-reg.color-red-1.text-ital инвестиции 
        br
        |потребуются для 
        br
        |старта бизнеса?

      .format-section__title-helper Выберите количество ПК для вашего 
        br
        |компьютерного клуба и узнайте размер 
        br
        |инвестиций в 1 клик

      .format-section__cards.swiper-format
        .format-section__cards-list.swiper-wrapper
          .format-section__cards-item.swiper-slide
            .format-section__card
              .format-section__card-num.font-i-bold.font-s-16 1
              .format-section__card-head.color-white.font-s-24.font-m-s-bold 20 ПК
              .format-section__card-box
                .format-section__card-description.font-m-s-bold Паушальный взнос 
                  br
                  |2 000 000 тенге
                .format-section__card-image
                  img(src="images/format-card-image-1.jpg" loading="lazy" alt="image" width="320" height="230").d-block.border-r-20
                .format-section__card-feedback
                  .feedback
                    form(data-feedback-form).feedback__form
                      .feedback__list
                        .feedback__item
                          .input
                            input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                        .feedback__item
                          .input
                            input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                        .feedback__item
                          button.btn(type="submit")
                            span Узнать
          .format-section__cards-item.swiper-slide
            .format-section__card
              .format-section__card-num.font-i-bold.font-s-16 2
              .format-section__card-head.color-white.font-s-24.font-m-s-bold 20 ПК
              .format-section__card-box
                .format-section__card-description.font-m-s-bold Паушальный взнос 
                  br
                  |2 000 000 тенге
                .format-section__card-image
                  img(src="images/format-card-image-2.jpg" loading="lazy" alt="image" width="320" height="230").d-block.border-r-20
                .format-section__card-feedback
                  .feedback
                    form(data-feedback-form).feedback__form
                      .feedback__list
                        .feedback__item
                          .input
                            input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                        .feedback__item
                          .input
                            input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                        .feedback__item
                          button.btn(type="submit")
                            span Узнать

        .format-section__cards-progress.swiper-progress.format-pagination

      .format-section__image.format-section__image--1
        img(src="images/format-image-1.jpg" loading="lazy" alt="image" width="539" height="539").d-block
      .format-section__image.format-section__image--2
        img(src="images/format-image-2.jpg" loading="lazy" alt="image" width="539" height="732").d-block
