mixin header()
  header.header
    .wrapper
      .header__inner
        .header__container
          .header__logo
            img(src="images/logo-main.png" loading="lazy" alt="logo" width="187" height="69").d-block
          .header__description.font-s-14
            span.font-m-bold.font-s-18.d-block THE ONE HUB 
            |Франшиза компьютерного клуба

        .header__connection
          +connection()
