section.main-section
  +header(true, true)
  .wrapper
    .main-section__inner
      .main-section__image
        img(src="images/main-image.png" loading="lazy" alt="image" width="1211" height="942").d-block

      .main-section__content
        h1.main-section__title.font-s-42 Откройте свой компьютерный 
          br
          |клуб с чистой прибылью 
          br
          span.font-i-reg.color-red-1 от 1,6 млн тенге 
          |ежемесячно

        .main-section__feedback
          .feedback
            form(data-feedback-form).feedback__form
              .feedback__description.color-grey-1 Узнайте, как открыть бизнес 
                br
                |по франшизе 
                span.color-white «THE ONE» 
                br.d-block
                span.color-red-1 всего за 57 дней
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Получить план открытия
                .feedback__decor
                  img(src="images/main-decor.png" loading="lazy" alt="image" width="128" height="128").d-block
