section.support-section
  .wrapper
    .support-section__inner
      .support-section__content
        h2.support-section__title.font-s-44.text-center Какие меры поддержки 
          br
          |предусмотрены

        .support-section__info.text-center Узнайте больше о том, как мы помогаем вам на старте

        .support-section__cards.swiper-support
          .support-section__cards-list.swiper-wrapper
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 1
                .support-section__card-description Заключаем договор 
                  br
                  |франшизы.
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 2
                .support-section__card-description Ищем подходящее помещение 
                  br
                  |и подписываем договор аренды.
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 3
                .support-section__card-description Ремонтируем и оформляем 
                  br
                  |помещение.
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 4
                .support-section__card-description Проводим сборку компьютеров, 
                  br
                  |установку ПО и подключение к сети.
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 5
                .support-section__card-description Помогаем в поиске и 
                  br
                  |обучении персонала.
            .support-section__cards-item.swiper-slide
              .support-section__card.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 6
                .support-section__card-description Проводим техническое 
                  br
                  |открытие.
            .support-section__cards-item.swiper-slide
              .support-section__card.support-section__card--7.border-r-20
                .support-section__card-head.font-m-bold
                  .support-section__card-name.font-s-24 Этап
                  .support-section__card-num
                    span 7
                .support-section__card-description Запускаем ваш первый 
                  br
                  |компьютерный клуб и 
                  br
                  |помогаем в его развитии.
          .support-section__cards-progress.swiper-progress.support-pagination

        .support-section__frame
          h3.support-section__frame-title.font-s-24 Общее время запуска 
            br
            |— до 1,5 месяцев.
          .support-section__frame-image.support-section__frame-image--1
            img(src="images/support-image-1.png" loading="lazy" alt="image" width="330" height="330").d-block
          .support-section__frame-image.support-section__frame-image--2
            img(src="images/support-image-2.png" loading="lazy" alt="image" width="267" height="252").d-block
