extends ../layouts/base
include ../components/Icon
include ../components/Header
include ../components/Footer
include ../components/Connection

block body
  .page.page--thanks
    .page__header
      +header(false)

    .page__content.page__content--layout
      block content

    .page__footer
      +footer()
