extends ../layouts/default.pug

block content
  include ../components/MainSection
  include ../components/FinancesSection
  include ../components/AboutSection
  include ../components/FormatSection
  include ../components/CalcSection
  include ../components/SupportSection
  include ../components/CitySection
