.about-section
  color: $color-black-2

  &__inner
    padding: 50px 0
    margin: 0 -10px
    position relative
    z-index 1
    +above($breakpoints.sm)
      padding: 60px 0
      margin: 0
    +above($breakpoints.md)
      padding: 80px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__bg-container
    position: absolute
    z-index -1
    top: 432px;
    left: calc(50% - 512px);
    +above($breakpoints.sm)
      top: 204px;
      left: calc(50% - 512px);
    +above($breakpoints.md)
      top: 240px;
      left: calc(50% - 700px);
    +above($breakpoints.xxl)
      top: 395px
      left: calc(50% - 960px)

  &__bg-image
    img
      height: auto
      width 1024px
      +above($breakpoints.md)
        width 1400px
      +above($breakpoints.xxl)
        width 1920px

  &__photo
    position: absolute;
    top: 12px;
    left: calc(50% - 125px);
    +above($breakpoints.sm)
      left: calc(50% - 115px);
    +above($breakpoints.md)
      top: -51px;
      left: calc(50% - 213px);
    +above($breakpoints.xxl)
      top: -148px;
      left: calc(50% - 311px);
    img
      height: auto
      width 284px
      +above($breakpoints.md)
        width 467px
      +above($breakpoints.xxl)
        width 688px

  &__title
    margin: 0 0 18px 0
    +above($breakpoints.sm)
      margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 40px 0

  &__info
    display: flex
    margin: 0 0 210px 0
    flex-direction: column
    gap: 50px
    +above($breakpoints.sm)
      margin: 0 0 134px 0
      justify-content: space-between
      flex-direction: row
    +above($breakpoints.md)
      margin: 0 0 187px 0
    +above($breakpoints.xxl)
      margin: 0 0 277px 0

  &__info-box
    padding: 14px 8px
    text-align: center
    +above($breakpoints.sm)
      width: 287px;
      text-align: left
    +above($breakpoints.md)
      width 320px
      padding: 16px 5px 16px 16px
    +above($breakpoints.xxl)
      width 400px
      padding: 20px 5px 20px 20px
    &:nth-child(1)
      background-color: $color-white-2
    &:nth-child(2)
      background-color: $color-black-3
      color: $color-white
      position relative
      z-index 1
      +above($breakpoints.sm)
        overflow: hidden
      img
        position: absolute
        z-index -1
        top: -58px;
        right: calc(50% - 60px);
        +above($breakpoints.sm)
          right -32px
          top: 9px

  &__subtitle
    margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 40px 0

  &__cards
    margin: 0 auto 30px auto
    width 240px
    +above($breakpoints.sm)
      width unset
      margin: 0 0 30px 0
    +above($breakpoints.md)
      margin: 0 0 40px 0
    +above($breakpoints.xxl)
      margin: 0 0 60px 0

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 18px
    +above($breakpoints.xxl)
      gap: 27px

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    display: flex
    align-items: center
    background-color: $color-white-3
    gap: 8px;
    padding: 0 0 0 10px;
    height: 81px;
    width: 240px;
    +above($breakpoints.sm)
      width: 225px;
    +above($breakpoints.md)
      gap: 16px
      padding: 0 0 0 16px
      width 301px
      height: 96px
    +above($breakpoints.xxl)
      gap: 20px
      padding: 0 0 0 20px
      width 360px
      height: 120px
    br
      display: block

  &__card-num
    border-radius: 100%
    background-color: $color-red-1
    color: $color-white
    display: flex
    align-items: center
    justify-content: center
    width 28px
    height: 28px
    +above($breakpoints.md)
      width 36px
      height: 36px
    +above($breakpoints.xxl)
      width 40px
      height: 40px

  &__feedback
    .feedback
      &__title
        margin: 0 0 10px 0
        +above($breakpoints.md)
          margin: 0 0 24px 0
        +above($breakpoints.xxl)
          margin: 0 0 40px 0
      &__container
        background-color: $color-black-3
        color: $color-white
        padding: 20px 0
        +above($breakpoints.sm)
          padding: 28px 0
        +above($breakpoints.md)
          padding: 32px 0
        +above($breakpoints.xxl)
          padding: 40px 0

      &__description
        margin: 0 0 20px 0
        +above($breakpoints.xxl)
          margin: 0 0 20px 0
