.about-section
  &__inner
    padding: 50px 0
    margin: 0 -10px
    +above($breakpoints.sm)
      padding: 60px 0
      margin: 0
    +above($breakpoints.md)
      padding: 86px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__title
    margin: 0 0 40px 0
    text-align: center
    +above($breakpoints.sm)
      text-align: left
      margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 42px 0

  &__content
    display: flex
    justify-content: space-between
    align-items: flex-end
    position relative
    z-index 1
    margin: 0 0 24px 0
    flex-direction: column
    gap: 20px
    +above($breakpoints.sm)
      gap: 0
      flex-direction: row
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 40px 0

  &__content-icon
    position: absolute
    z-index -1
    top: -36px
    left: 0
    +above($breakpoints.sm)
      top: 0
      left: -41px
    +above($breakpoints.md)
      left: -63px
    +above($breakpoints.xxl)
      left: -122px
    img
      transform: rotate(180deg)
      height: auto
      width 38px
      +above($breakpoints.md)
        width 56px
      +above($breakpoints.xxl)
        width 96px

  &__story
    background-image: url('../images/about-story-bg.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-color: #171716
    color: $color-white
    padding: 12px 12px 14px 12px
    +above($breakpoints.sm)
      width 411px
    +above($breakpoints.md)
      padding: 12px 20px 18px 14px
      width 456px
    +above($breakpoints.xxl)
      padding: 17px 33px 25px 20px
      width 560px
    div
      margin: 0 0 10px 0
      +above($breakpoints.sm)
        margin: 0 0 14px 0
      +above($breakpoints.md)
        margin: 0 0 23px 0
      &:last-child
        margin: 0

  &__photo-container
    +above($breakpoints.sm)
      width 276px
    +above($breakpoints.md)
      width 460px
    +above($breakpoints.xxl)
      width 560px

  &__photo
    margin: 0 0 12px 0
    +above($breakpoints.sm)
      margin: 0 0 30px 0
    img
      width 100%
      height: auto

  &__photo-info
    display: flex
    align-items: flex-end
    justify-content: space-between
    br
      display: block
  &__photo-icon
    img
      height: auto
      width 58px
      +above($breakpoints.sm)
        width 80px
      +above($breakpoints.md)
        width 122px
      +above($breakpoints.xxl)
        width 147px

  &__feedback
    .feedback
      background-color: #171716
      padding: 20px 0
      +above($breakpoints.md)
        padding: 30px 0
      +above($breakpoints.xxl)
        padding: 40px 0
      &__wrapper
        display: flex
        justify-content: center
        gap: 7px
        flex-direction: column
        +above($breakpoints.sm)
          flex-direction: row
        +above($breakpoints.md)
          gap: 14px
        +above($breakpoints.xxl)
          gap: 20px
      &__title
        margin: 0 0 10px 0
        +above($breakpoints.md)
          margin: 0 0 14px 0
        +above($breakpoints.xxl)
          margin: 0 0 20px 0
      &__list
        width 252px
        margin: 0 auto
        +above($breakpoints.sm)
          margin: 0
          width 180px
        +above($breakpoints.md)
          width 220px
        +above($breakpoints.xxl)
          width 260px
        &:first-child
          .feedback__item
            height: 100px
            +above($breakpoints.sm)
              height: 100%
      &__item
        width 100%
        .input
          height: 100%
        .input__field--textarea
          height: 100%
