.btn
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  cursor: pointer
  overflow: hidden
  text-align: center;
  border: none
  color: $color-white
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  border-radius: 100px
  background: $color-red-1
  width: 100%
  height: 56px
  padding: 0 14px
  font-size: 15px;
  line-height: 120%
  font-family: "Manrope-Bold"
  font-weight: 700
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 0 5px
  +above($breakpoints.sm)
    height: 45px
    padding: 0 6px
    font-size: 14px
  +above($breakpoints.md)
    height: 60px
    font-size: 16px
  +above($breakpoints.xxl)
    font-size: 18px
    height: 80px
  &:hover
    opacity 0.8
  &:active
    top: 3px
  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation {
      0% {
          left: -150%;
      }
      100% {
          left: 250%;
      }
    }
