.city-section
  background-color: $color-white
  color: $color-black

  &__inner
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 80px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__title
    margin: 0 0 20px 0
    +above($breakpoints.md)
      margin: 0 0 30px 0
    +above($breakpoints.xxl)
      margin: 0 0 40px 0

  &__title-main
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0

  &__feedback
    .feedback
      background-color: #232323;
      color: $color-white
      padding: 30px 0
      +above($breakpoints.xxl)
        padding: 40px 0
      &__description
        margin: 0 0 10px 0
        +above($breakpoints.sm)
          margin: 0 0 14px 0
        +above($breakpoints.md)
          margin: 0 0 17px 0
        +above($breakpoints.xxl)
          margin: 0 0 20px 0
      &__list
        margin: 0 auto
        width 260px
        +above($breakpoints.sm)
          width 550px
        +above($breakpoints.md)
          width 700px
        +above($breakpoints.xxl)
          width 860px
