.connection
  &__link
    display: flex
    align-items: center
    gap: 10px
    +above($breakpoints.sm)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 20px
  &__icon
    img
      height: auto
      width 20px
      +above($breakpoints.xxl)
        width 24px