.connection
  &__link
    display: flex
    align-items: center
    gap: 10px
    +above($breakpoints.sm)
      gap: 32px
    +above($breakpoints.xxl)
      gap: 58px
  &__icon
    img
      height: auto
      width 28px
      +above($breakpoints.xxl)
        width 33px