.cooperation-section
  background-image: url('../images/cooperation-bg.jpg')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  background-color: #171716
  color: $color-white

  &__inner
    position relative
    z-index 1
    padding: 60px 0 252px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 80px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__bg-image
    position: absolute
    z-index -1
    bottom: 0
    right: calc(50% - 246px)
    +above($breakpoints.sm)
      bottom: 33px
      right: -38px;
    +above($breakpoints.md)
      right: -104px;
    +above($breakpoints.xxl)
      right -180px
    img
      height: auto
      width 500px
      +above($breakpoints.md)
        width 716px
      +above($breakpoints.xxl)
        width 943px

  &__title
    margin: 0 0 30px 0
    +above($breakpoints.md)
      margin: 0 0 40px 0

  &__cards
    margin: 0 0 40px 0
    +above($breakpoints.md)
      margin: 0 0 50px 0
    +above($breakpoints.xxl)
      margin: 0 0 60px 0

  &__cards-list
    display: flex
    flex-wrap: wrap
    gap: 12px
    +above($breakpoints.md)
      gap: 26px
    +above($breakpoints.xxl)
      gap: 40px

  &__card
    position relative
    z-index 1
    overflow: hidden
    border-radius: 10px 200px 200px 10px;
    padding: 16px 18px 16px 16px;
    +above($breakpoints.sm)
      height: 160px;
      padding: 16px 0 0 16px;
      width: 342px;
    +above($breakpoints.md)
      width: 457px;
      height: 193px;
      padding: 20px 0 0 16px;
    +above($breakpoints.xxl)
      width 560px
      height: 245px
      padding: 30px 0 0 20px
      border-radius: 10px 200px 200px 10px;
    &:before
      content: ""
      position absolute
      z-index -1
      pointer-events: none
      top: 0
      bottom: 0
      left: 0
      right 0
      border: 1px solid #fff;
      border-radius: inherit
      background-color: rgba(23, 23, 22, 0.7)
      +above($breakpoints.md)
        z-index -2
        background-color: unset
    br
      display: none
      +above($breakpoints.xxl)
        display: block

  &__card-image
    position: absolute
    z-index -2
    bottom: 0
    right 0
    +above($breakpoints.md)
      z-index -1
    img
      width auto
      height: 160px
      +above($breakpoints.md)
        height: 187px
      +above($breakpoints.xxl)
        height: 244px

  &__card-head
    display: flex
    align-items: center
    gap: 8px
    margin: 0 0 12px 0
    +above($breakpoints.xxl)
      gap: 10px
      margin: 0 0 20px 0

  &__card-num
    border-radius: 100%
    background-color: $color-red-1
    color: $color-white
    display: flex
    align-items: center
    justify-content: center
    width 28px
    height: 28px
    +above($breakpoints.md)
      width 34px
      height: 34px
    +above($breakpoints.xxl)
      width 40px
      height: 40px

  &__card-description
    +above($breakpoints.sm)
      width 308px
    +above($breakpoints.md)
      width 270px
    +above($breakpoints.xxl)
      width 348px

  &__feedback
    .feedback
      &__form
        display: flex
        flex-direction: column
        gap: 12px
        text-align: center
        +above($breakpoints.sm)
          text-align: left
          justify-content: space-between
          align-items: center
          flex-direction: row
      &__title
        margin: 0 0 10px 0
        +above($breakpoints.sm)
          margin: 0 0 14px 0
        +above($breakpoints.xxl)
          margin: 0 0 20px 0
      &__container
        background-color: $color-white
        padding: 14px 26px;
        +above($breakpoints.sm)
          padding: 14px 32px;
          width: 412px;
        +above($breakpoints.md)
          width: 472px;
          padding: 14px 39px;
        +above($breakpoints.xxl)
          width 560px
          padding: 20px 70px
      &__item
        width 100%
        +above($breakpoints.sm)
          width 170px
        +above($breakpoints.md)
          width 190px
        +above($breakpoints.xxl)
          width 200px
        &:last-child
          width 100%
        .input__field
          border: 1px solid #898989;
          color: $color-black
          height: 52px
          +above($breakpoints.md)
            height: 60px
          +above($breakpoints.xxl)
            height: 70px
          &:focus
            border: 1px solid $color-black;
          &.error
            color: $color-error
            &::placeholder
              color: $color-error
            &::-ms-input-placeholder
              color: $color-error
            &::-moz-placeholder
              color: $color-error
            &::-webkit-input-placeholder
              color: $color-error
        .btn
          height: 64px
          +above($breakpoints.md)
            height: 80px
          +above($breakpoints.xxl)
            height: 100px
