.format-section
  overflow: hidden
  background-color: $color-white

  &__inner
    position relative
    z-index 1
    padding: 60px 0 54px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 70px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__image
    position: absolute
    z-index -1
    img
      height: auto
      width 127px
      +above($breakpoints.sm)
        width 232px
      +above($breakpoints.md)
        width 350px
      +above($breakpoints.xxl)
        width 539px
    &--1
      top: 6px;
      left: -66px;
      +above($breakpoints.sm)
        left: 10px;
      +above($breakpoints.md)
        left: -44px;
      +above($breakpoints.xxl)
        top: 68px
        left: -269px
    &--2
      bottom: 0
      right: -70px
      +above($breakpoints.sm)
        right: -93px
      +above($breakpoints.md)
        right: -140px
      +above($breakpoints.xxl)
        right: -379px

  &__title
    margin: 0 0 12px 0
    +above($breakpoints.sm)
      margin: 0 0 18px 0
    +above($breakpoints.md)
      margin: 0 0 20px 0
    +above($breakpoints.xxl)
      margin: 0 0 40px 0

  &__title-helper
    margin: 0 0 30px 0
    +above($breakpoints.md)
      margin: 0 0 40px 0
    +above($breakpoints.xxl)
      margin: 0 0 70px 0

  &__cards
    margin: 0 auto
    width 236px
    +above($breakpoints.sm)
      margin: 0
      width unset

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 28px 12px
    +above($breakpoints.md)
      gap: 40px 20px
    +above($breakpoints.xxl)
      gap: 60px 40px

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    position relative
    background-color: $color-white
    color: $color-black
    width: 236px;
    height: 436px;
    +above($breakpoints.sm)
      width: 224px;
      height: unset
    +above($breakpoints.md)
      width 290px
    +above($breakpoints.xxl)
      width 360px

  &__card-num
    position: absolute
    left: 0
    right 0
    margin: 0 auto
    color: $color-white
    border-radius: 100%
    background-color: $color-red-1
    display: flex
    align-items: center
    justify-content: center
    top: -15px
    width 30px
    height: 30px
    +above($breakpoints.md)
      width 40px
      height: 40px
      top: -20px
    +above($breakpoints.xxl)
      top: -30px
      width 60px
      height: 60px

  &__card-head
    background-color: $color-black
    border-radius: 14px 14px 0 0
    padding: 19px 0 0 0;
    height: 46px;
    +above($breakpoints.md)
      padding: 25px 0 0 0
      height: 60px
    +above($breakpoints.xxl)
      padding: 36px 0 0 0
      height: 79px
      border-radius: 20px 20px 0 0

  &__card-box
    border: 1px solid #000;
    border-radius: 0 0 14px 14px
    padding: 10px 12px 14px 12px
    +above($breakpoints.sm)
      padding: 10px 14px 14px 14px
    +above($breakpoints.md)
      padding: 14px 14px 20px 14px
    +above($breakpoints.xxl)
      border-radius: 0 0 20px 20px
      padding: 20px 20px 40px 20px

  &__card-description
    border-radius: 100px
    background-color: $color-red-1
    color: $color-white
    padding: 3px 0 5px 0
    +above($breakpoints.md)
      padding: 6px 0 8px 0
    +above($breakpoints.xxl)
      padding: 10px 0 12px 0
    br
      display: block

  &__card-image
    margin: 8px 0
    +above($breakpoints.md)
      margin: 14px 0
    +above($breakpoints.xxl)
      margin: 20px 0
    img
      width 100%
      height: auto

  &__card-feedback
    .feedback
      &__list
        gap: 6px
        +above($breakpoints.md)
          gap: 8px
        +above($breakpoints.xxl)
          gap: 10px
      &__item
        width 100%
        .input__field
          border: 1px solid #898989;
          color: $color-black
          height: 44px
          +above($breakpoints.sm)
            height: 42px
          +above($breakpoints.md)
            height: 58px
          +above($breakpoints.xxl)
            height: 80px
          &.error
            color: $color-error
            &::placeholder
              color: $color-error
            &::-ms-input-placeholder
              color: $color-error
            &::-moz-placeholder
              color: $color-error
            &::-webkit-input-placeholder
              color: $color-error
        .btn
          height: 48px
          +above($breakpoints.md)
            height: 64px
          +above($breakpoints.xxl)
            height: 100px
