.header
  position relative
  z-index 22

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    padding: 18px 0
    +above($breakpoints.md)
      padding: 20px 0
    +above($breakpoints.xxl)
      padding: 25px 0

  &__container
    display: flex
    align-items: center
    gap: 12px
    +above($breakpoints.xxl)
      gap: 15px

  &__logo
    img
      height: auto
      width 90px
      +above($breakpoints.sm)
        width 80px
      +above($breakpoints.md)
        width 90px
      +above($breakpoints.xxl)
        width 187px

  &__description
    display: none
    +above($breakpoints.sm)
      display: block
