.support-section
  background-image: url('../images/support-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &__inner
    padding: 50px 0
    +above($breakpoints.sm)
      padding: 60px 0
    +above($breakpoints.md)
      padding: 80px 0
    +above($breakpoints.xxl)
      padding: 120px 0

  &__content
    position relative

  &__info
    margin: 14px 0
    +above($breakpoints.sm)
      margin: 20px 0
    +above($breakpoints.md)
      margin: 30px 0
    +above($breakpoints.xxl)
      margin: 40px 0

  &__cards
    width: 260px;
    margin: 0 auto 30px auto
    +above($breakpoints.sm)
      width: unset;
      margin: 0

  &__cards-list
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 20px
    +above($breakpoints.xxl)
      gap: 40px

  &__cards-item
    +above($breakpoints.sm)
      width auto !important

  &__card
    background-color: $color-white
    width: 260px;
    height: 120px;
    padding: 14px 6px 0 20px;
    +above($breakpoints.sm)
      width: 225px;
    +above($breakpoints.md)
      width: 300px;
      height: 150px;
      padding: 28px 0 0 20px;
    +above($breakpoints.xxl)
      width 360px
      height: 170px
      padding: 40px 0 0 20px
    &--7
      +above($breakpoints.sm)
        height: 120px
      +above($breakpoints.md)
        height: 164px
      +above($breakpoints.xxl)
        height: 200px
    br
      display: block
      +above($breakpoints.sm)
        display: none
      +above($breakpoints.md)
        display: block

  &__card-head
    display: flex
    align-items: center
    gap: 10px
    margin: 0 0 6px 0
    +above($breakpoints.md)
      margin: 0 0 12px 0

  &__card-num
    width 26px
    height: 26px
    border-radius: 100%
    background-color: $color-gold-1
    display: flex
    justify-content: center
    align-items: center
    +above($breakpoints.md)
      width 32px
      height: 32px

  &__frame
    position relative
    z-index 1
    overflow hidden
    background-color: $color-gold-1
    text-align: center
    border-radius: 100px
    bottom: 0
    right: 0
    padding: 36px
    +above($breakpoints.sm)
      position absolute
      width 454px
    +above($breakpoints.md)
      padding: 50px
      width 618px
    +above($breakpoints.xxl)
      padding: 71px
      width 760px
  &__frame-image
    position: absolute
    z-index -1
    &--1
      top: 35px;
      left: -29px;
      +above($breakpoints.sm)
        top: -12px
        left: -44px
      img
        height: auto
        width 116px
        +above($breakpoints.sm)
          width 223px
        +above($breakpoints.md)
          width 250px
        +above($breakpoints.xxl)
          width 330px
    &--2
      top: 58px;
      right: -25px;
      +above($breakpoints.sm)
        top: 21px
        right -47px
      img
        height: auto
        width 106px
        +above($breakpoints.sm)
          width 162px
        +above($breakpoints.md)
          width 230px
        +above($breakpoints.xxl)
          width 267px
