.swiper-progress
  position relative !important
  height: 6px !important
  overflow: hidden
  background: rgba(114, 114, 114, 1)
  margin: 18px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: $color-red-1
