.wrapper
  max-width: 320px
  margin: 0 auto
  padding: 0 6px
  +above($breakpoints.sm)
    max-width: 720px
    margin: 0 auto
    padding: 0 12px
  +above($breakpoints.md)
    max-width: 970px
    padding: 0 15px
  +above($breakpoints.xxl)
    padding: 0 20px
    max-width: 1200px

section
  font-size: 15px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 18px

h1,
h2,
h3,
h4
  font-family: "InterTight-SemiBold"
  font-weight: 600

.d-flex
  display: flex
.d-block
  display: block
.d-i-block
  display: inline-block
.d-inline
  display: inline
.d-none
  display: none

.color-white
  color: $color-white
.color-white-2
  color: $color-white-2
.color-white-3
  color: $color-white-3
.color-black
  color: $color-black
.color-black-2
  color: $color-black-2
.color-black-3
  color: $color-black-3
.color-red-1
  color: $color-red-1
.color-grey-1
  color: $color-grey-1


.font-i-reg
  font-family: "InterTight-Regular"
  font-weight: 400
.font-i-s-bold
  font-family: "InterTight-SemiBold"
  font-weight: 600
.font-i-bold
  font-family: "InterTight-Bold"
  font-weight: 700
.font-m-light
  font-family: "Manrope-Light"
  font-weight: 300
.font-m-reg
  font-family: "Manrope-Regular"
  font-weight: 300
.font-m-s-bold
  font-family: "Manrope-SemiBold"
  font-weight: 300
.font-m-bold
  font-family: "Manrope-Bold"
  font-weight: 300

.font-s-12
  font-size: 10px
  line-height: 140%
  +above($breakpoints.md)
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 12px
.font-s-14
  font-size: 11px
  line-height: normal
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px
.font-s-16
  line-height: 110%
  font-size: 14px
  +above($breakpoints.sm)
    font-size: 13px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 16px
.font-s-18
  font-size: 16px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 14px
  +above($breakpoints.md)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-20
  font-size: 17px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.md)
    font-size: 17px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-22
  font-size: 17px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-24
  font-size: 17.5px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 17px
  +above($breakpoints.md)
    font-size: 20px
  +above($breakpoints.xxl)
    font-size: 24px
.font-s-26
  font-size: 18px
  line-height: normal
  +above($breakpoints.sm)
    font-size: 19px
  +above($breakpoints.md)
    font-size: 22px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-26
  font-size: 20px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 20px
  +above($breakpoints.md)
    font-size: 23px
  +above($breakpoints.xxl)
    font-size: 26px
.font-s-32
  font-size: 18px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 21px
  +above($breakpoints.md)
    font-size: 26px
  +above($breakpoints.xxl)
    font-size: 32px
.font-s-40
  font-size: 21px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 24px
  +above($breakpoints.md)
    font-size: 30px
  +above($breakpoints.xxl)
    font-size: 40px
.font-s-42
  font-size: 22px
  line-height: 140%
  +above($breakpoints.sm)
    font-size: 25px
  +above($breakpoints.md)
    font-size: 33px
  +above($breakpoints.xxl)
    font-size: 42px
.font-s-44
  font-size: 22px
  line-height: 120%
  +above($breakpoints.sm)
    font-size: 25px
  +above($breakpoints.md)
    font-size: 33px
  +above($breakpoints.xxl)
    font-size: 44px

.text-up
  text-transform: uppercase
.text-init
  text-transform: initial
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-ital
  font-style: italic
.text-bold
  font-weight: bold

.tap-color
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.border-r-20
  border-radius: 14px
  +above($breakpoints.xxl)
    border-radius: 20px